body {
    background-color: aliceblue;
    color: blueviolet;
    justify-items: center;
    padding: 30px;
}

button {
    background-color: blueviolet;
    color: aliceblue;
}

button:hover {
    cursor: pointer;
    background-color: rgb(210, 145, 245);
}

.Script {
    color: rgb(207, 205, 210);
}

span {
    color: rgb(148, 123, 172);
}